/* *{} define todo o documento html */

* {
    /* Essa configuração é um "reset" no código,
    *  para que não conflite com margin/padding de frameworks,
    *  como o bootstrap
    */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* O !important força o estilo a sobrepor tudo mais que 
    *  tiver relacionado a esse elemento, use com moderação
    *  Nesse caso foi necessario pois o bootstrap coloca bg branco    
    */
    background-color: #FFFFFF!important;
}

/* HEADER */
header {
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #15569a;
    height: 150px;
}
header div{
    margin: 0 5px;
}
header .titulo-principal {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

/* MAIN SECTION */
.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px auto;
}

/* Modais */
.infoPessoal {
    /* Famoso flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoPessoal input {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid #0b49965c;
    border-radius: 5px;
    margin: auto 0;
    width: 50%;
    padding: 0px 5px;
}

.infoPessoal label {
    font-family: Arial, Helvetica, sans-serif;
    color: #15569a;
    margin: 10px 0;
}

.infoPessoal .row {
    /* Alguns ajustes na row para estilizar os elementos */
    width: 90%;
    /* row por padrão vem com display flex, então só usei uma propriedade para alinhar os elementos dentro dela */
    justify-content: space-between;
}

.modal-footer{
    flex-direction: row-reverse !important;
    justify-content: space-between !important;
}
@media (max-width: 768px){
    .content{
        flex-direction: column ;
        align-items: normal;
    }
    .content button{
        margin: 20px 0; 
        height: 10vh;
    }

    header .titulo-principal h1{
        font-size: 2rem;
    }
    #slider-mobile .carousel-item a img{
        width: 100%;
    }
}




